body {
    background-color: aqua;
  }

  input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

 
button{
  min-height:30px; 
    min-width: 120px;
}

#listnames {
  position: absolute;
  top: 500 px;
  left: 200;
  background-color: brown;

}

#qitems{
  background-color: white;
  width: 100px;
}

.vl {
  border-left: 1px solid green;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#orders{
  position: absolute;
  top: 10px;
  left: 520px;
  width: 400px;
  border: 1px solid;
}

.bot-card {
  width: 225px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 15px 0 15px;
  position: relative;
  background: white;
}

#confirm_order
{
  position: absolute;
  text-align: center;
  
  top: 70px;
  left: 520px;
  width: 300px;
  height: 250px;
  border: 3px solid;
  
  background-color: rgb(234, 234, 238);
}

#menuItems
{
  background-color:aquamarine
}