body {
    background-color: aqua;
  }

  input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

 
button{
  min-height:30px; 
    min-width: 120px;
}

#listnames {
  position: absolute;
  top: 500 px;
  left: 200;
  background-color: brown;

}

#qitems{
  background-color: white;
  width: 100px;
}

.vl {
  border-left: 1px solid green;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#orders{
  position: absolute;
  top: 10px;
  left: 520px;
  width: 300px;
  border: 1px solid;
}